<script>
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
  
  window.images = {
    logo: "<%= image_path("sleek-logo.png") %>"
  }
</script>

<main id='root'>Frontend Broke!</main>
