$snow: #f9f9f9; //login/signup background
$error-red: #cb5234;
$white: #ffffff;
$blackish: #2C2D30;

$input-text-grey: #5d5c61; //fonts
$placeholder-text-grey: #aaaaaa; //placeholder fonts
$text-grey: #555459; //text presented
$timestamp-grey: #9e9ea6;

$border-light-grey: #c5c5c5; //light borders
$border-mid-grey: #e8e8e8; //light borders
$border-dark-grey: #666f77; //dark borders
$search-border-focus: #bbbdbf;
$search-border-no-focus: #E0E0E0;

$slack-green: #2ab27b;
$slack-blue: #007ab8;
$slack-purpule: #4d394b;
