$snow: #f9f9f9; //login/signup background
$error-red: #cb5234;
$white: #ffffff;

$input-text-grey: #5d5c61; //fonts
$placeholder-text-grey: #aaaaaa; //placeholder fonts
$text-grey: #555459; //text presented

$border-light-grey: #c5c5c5; //light borders
$border-mid-grey: #e8e8e8; //light borders
$border-dark-grey: #666f77; //dark borders

$slack-green: #2ab27b;
$slack-blue: #007ab8;
$slack-purpule: #4d394b;
