$snow: #f9f9f9; //login/signup background
$error-red: #cb5234;
$white: #ffffff;
$blackish: #2C2D30;

$input-text-grey: #5d5c61; //fonts
$placeholder-text-grey: #aaaaaa; //placeholder fonts
$text-grey: #555459; //text presented
$timestamp-grey: #9e9ea6;
$hoverbox_grey: #d4d4d4;
$channels-grey: #AB9BA9;

$border-light-grey: #c5c5c5; //light borders
$border-mid-grey: #e8e8e8; //light borders
$border-dark-grey: #666f77; //dark borders
$search-border-focus: #bbbdbf;
$search-border-no-focus: #E0E0E0;
$modal-grey: #67686e;
$modal-li-grey: #717274;
$modal-light-blue: #d3ecfa;
$modal-lightest-blue: #edf7fd;
$submit-grey: #cdcece;
$input-blue: #2780F8;

$slack-green: #2ab27b;
$slack-dark-green: #4c9689;
$circle-green: #38978D;
$slack-blue: #007ab8;
$slack-purpule: #4d394b;
$hover-purpurle: #3e313c;
$slack-orange: #FF8B00;
$slack-text-orange: #FFA940;

$action_buttons: #007ab8;
