// $serif: georgia,"times new roman",times,serif;
// $sans-serif: arial, helvetica, sans-serif;

// need to embed custom fonts!

@font-face {
  font-family: 'Slack-Lato';
  src: font-url('slack-icons-Regular.ttf') format('truetype');
}


$lato: 'Lato', sans-serif;
// $slack-lato: 'Slack-Lato', sans-serif;

// ./'slack....'
