.gear-dropdown-icon {
  position: relative;
}

.drop-down-screen {
  // display: flex;
  // justify-content: center;
  z-index: 200;
  position: absolute;
  top: 50px;
  right: 365px;
  width: 10%;
  height: 8%;
  border: 1px solid $border-light-grey;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.deleteChannel {
  text-align: center;
  padding: 6px;
  cursor: pointer;
}
