.hidden {
 display: none;
}

.channels-modal {
    background-color: pink;
    width: 400px;
    height: 400px;
}

.modal-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  z-index: 100;
}
