.hidden {
 display: none;
}

.channels-modal {
  padding-top: 152px;
  width: 100%;
}

.modal-screen{
  display: flex;
  justify-content: center;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white;
}

.modal-content {
  z-index: 100;
}

.close-modal {
  position: fixed;
  top: 48px;
  right: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 64px;
  height: 64px;
}

.close-modal i {
  font-size: 20px;
}

.close-modal span {
  font-size: 12.8px;
}

.close-modal:hover {
  border-radius: 50%;

  background-color: $border-mid-grey;
  position: fixed;
  top: 48px;
  right: 48px;
}

.close-modal span, i {
  display: block;
  text-align: center;
  color: $modal-li-grey;
}

.channels-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
}

.channels-modal-header {
  font-size: 34px;
  line-height: 41px;
  font-weight: 900;
  margin-bottom: 32px;
  // vertical-align: top;
}

.new-channel {
  padding: 8px 14px 9px 14px;
  font-size: 15px;
  background-color: $slack-green;
  color: $white;
  font-weight: 900;
  line-height: 19.2px;
  border-radius: 4px;
  height: 36px;
  margin-bottom: 32px;
}

.dms-selected-container {
  display: flex;
  justify-content: space-between;
}

.create-dm {
  font-size: 20px;
  color: $white;
  background: $slack-green;
  font-weight: 900;
  line-height: 1.2rem;
  cursor: pointer;
  text-align: center;
  padding: 16px 18px;
  border-radius: 4px;
  margin-bottom: 23px;
}

.pseudo-input {
  border: 1px solid $border-light-grey;
  height: 52px;
  width: 562px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 9px;
  margin-bottom: 23px;
}

.pending-user-container {
  display: flex;
  height: 26px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: $user-blue;
  border: 1px solid $user-blue;
  border-radius: 0.2rem;
  align-items: center;
  cursor: pointer;
}

.pending-user-container i {
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  color: $white;
  margin-right: 3px;
  padding-bottom: 28px;
  font-style: normal;
  font-size: 15px;
  font-weight: 700;
}

.pending-user {
  height: 26px;
  margin-right: 6px;
  padding: 3px;
  color: $white;
  font-size: 15px;
  font-weight: 700;
}

.scroller {
  width: 640px;
  border-right: 4px solid transparent;
  padding-right: 17px;
  position: fixed;
  overflow-y: scroll;
  height: 400px;
}

.channel-list-header {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  color: $modal-grey;
}

.channel-list-header {
  height: 35px;
  width: 595px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 35px;
  color: $modal-grey;
  font-weight: 700;
}

.modal-channel-li {
  padding: 12px 80px 12px 10px;
  border-top: 1px solid $border-mid-grey;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  font-size: 14px;
  line-height: 1.4;
  color: $text-grey;
  position: relative;
  cursor: pointer;
}
.modal-channel-li:hover + li {
  border-top: 1px solid transparent;
}

.modal-channel-li:hover {
  border: 1px solid $modal-light-blue;
  background-color: $modal-lightest-blue;
  border-radius: 6px;
  // border-top: 1px solid transparent;
}

.status-modal {
  width: 14px;
  height: 19px;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  color: $modal-li-grey;
  opacity: 0.9;
}

.modal-channel-name {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
}

.created-information-modal {
  font-style: italic;
  color: $modal-li-grey;
}

.creator-id {
  color: $blackish;
}

.member-count {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 25px;
  font-size: 14px;
}

.user-o {
  height: 22px;
}

.purpose {
  color: $modal-li-grey;
}

.status-modal-user {
  margin-right: 15px;
}

.channel-name-row-modal {
  display: flex
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
