// * {
//   border: 1px solid red !important;
// }
//


.channels_sidebar {
  box-sizing: border-box;
  // display: block;
  padding: 9px 0 0 0;
  background-color: $slack-purpule;
  color: $channels-grey;
}

.team_menu {
  width: 220px;
  display: block;
  margin-bottom: 20px;
}

.title-signout {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  color: white;
  height: 22px;
}

.sleek-title {
  font-size: 18px;
  font-weight: 900;
  padding-left: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fa-sign-out {
  font-size: 15px;
  color: $channels-grey;
  margin-right: 2px;
}

.current-user {
  margin-top: 2px;
  font-size: 14px;
  color: $channels-grey;
  padding-left: 16px;
}

.current-user {
  margin-top: 2px;
  font-size: 14px;
  color: $channels-grey;
}

.fa-circle {
  font-size: 10.5px;
  color: $circle-green;
  margin-right: 3px;
  opacity: 1;
}

.channel-header {
  text-transform: uppercase;
  font-size: 12.8px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  padding-left: 13px;
}

.channel_count {
  opacity: 0.5;
  margin-left: 3px;
  color: $channels-grey;
}

.channel-li {
  padding: 0 0 0 0px;

}

.status {
  margin-left: 16px;
  font-weight: 400;
  width: 20px;
  // margin: 0 auto;
  // display: flex;
  text-align: center;
}

.channel-li a {

  display: flex;
  color: $channels-grey;
  height: 24px;

}

.channel-name {
  // display: inline-block;
}

.selected-channel {
  background-color: $slack-dark-green;
}

.selected-channel .channel-name{
  color: $white;
}
