<!DOCTYPE html>
<html>
  <head>
    <title>Sleek</title>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application',
    "https://fonts.googleapis.com/css?family=Lato",
    media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
